<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			 connectionString="Server=.\SQLEXPRESS;Database=QLBH2;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
		providerName="System. Data. SqlClient" />
	</connectionStrings>
</configuration>