<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="QLBHConnection"
			 connectionString="Server=.\SQLEXPRESS;Database=QLBH;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificated=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>